/* Estilos base y estructura */
body {
    font-family: Arial, sans-serif;
    background-image: url("../fondo.png");
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 30px;
    color: #333;
}

/* Centrado principal */
.content {
    display: flex;
    background-size: contain;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 20px;
}


.content-1 {

    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.logo {
    text-align: center;
    width: 100px;
    height: 100px;
    background-image: url("../Logo.png"); 
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 0 auto 20px auto;
}

.login h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


.login input[type="text"],
.login input[type="password"] {
    max-width: 375px;
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px ;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}


.Olvidaste {
    text-align: right;
    margin-bottom: 15px;
}

.Olvidaste a {
    color: #007BFF;
    text-decoration: none;
    font-size: 14px;

}

.Olvidaste a:hover {
    text-decoration: underline;
}

button.iniciar {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button.iniciar:hover {
    background-color: #0056b3;
}